<form method="post" action=<%= path %> >
            <input type="email" name="email" placeholder="email"  >
            <%= error['email'] %>
            <input type="password" name="password" placeholder="password"  >
            <%= error.password %>
            <button type="submit">Send</button>
</form>
<a active-mode="true" href="/register">sign up</a>
<script src="js/domRouter/index.js" type="module"></script>