<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./css/global.css">
        <link rel="stylesheet" href="./css/structure/header.css">
        <link rel="stylesheet" href="./css/index.css">
        <link rel="stylesheet" href="./css/tmpl/login.css">
    </head>
<body>
    <header>
        <h2 class="">User App</h2>
    </header>
    <div class="main" id="demo">
          <% if(templatePath){%> <%- include(templatePath)  %> <% } %>
    </div>
    <% if(error['message']){ %>
    <div class="footer-messager layer-x1">
                <h1><%= error.message %></h1>
    </div>
    <% } %>
</body>
<script type="module" src="<%= script  %>"></script>
</html>