<form method="post" action=<%= path %> >
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Send</button>
</form>
<a  href="/register">sign up</a>