<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
<body>
        <h1>Hello Login</h1>
        <form method="get" action="/auth">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Send</button>
        </form>
</body>
</html>