<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
    </head>
<body>
        <h1>Hello Register</h1>
        <form method="POST" action="/signup">
            <input type="text" placeholder="name" name="name">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">

            <button type="submit">Send</button>
        </form>
</body>
</html>