:root{
    /* background colors */
    --color1:rgba(39,42,55,1);
    --color2:rgba(50,54,68,1);
    --color3:rgb(20, 255, 157);
    /* text colors */
    --color-text-1:  rgba(254,254,254,1);
    --color-text-2:rgb(114, 122, 137);
    --color-text-3:rgba(78,84,97,1);
}
body{
    margin: 0px;
    padding: 0px;
}

/* default tag style */
a{text-decoration: none;}
input{border: 0px;outline: none;}
header{margin-top: 0px;padding-top: 0px;}
button,select{outline: none;border: 0px;cursor: pointer;}
li{list-style-type: none;}
/* align */
.centermyself-h{
    display:flex;
    align-items: center;
    /* position: absolute !important;
     top:0px;left: 0px;right: 0px;bottom: 0px;margin: auto; */

}
.center-h{
    display: flex;justify-content: center;
}
.center-v{display: flex;align-items: center; }
.center{display: flex;align-items: center;justify-content: center;}
.layer-x1{position: absolute;z-index: 100; }
.bottom-self{
    margin: auto;bottom: 5%;position: absolute;
}





