header{
    width:100vw;height:10vh; 
    display: flex;
    align-items: flex-end;
    background : linear-gradient(to right, rgba(39,42,55,1) 55%,rgba(39, 42, 55, 0.588) 95%,rgba(39, 42, 55, 0.428) 100%) ;
    margin-bottom: 0px;
}
header h2{
    width: 150px;
    color: var(--color-text-1); 
    font-family: sans-serif;
    margin-left: 10px; 
}